@import './variables.less';

body {
  height: 100%;
}
#root {
  height: 100%;
}

.component-selected {
  position: relative;
  &::after {
    content: ' ';
    border: 1px dashed #2680eb;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    display: block;
  }
}
img {
  max-width: 100%;
}
.mr30 {
  margin-right: 30px;
  &.ant-form-item {
    margin-right: 30px;
  }
}
.pd {
  padding: 15px;
}
.mt20 {
  margin-top: 20px;
}
//#141ed2
.mr50 {
  margin-right: 50px;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-title {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}
.searchWrapper {
  margin-bottom: 15px;
}

.craft-layer-node {
  svg {
    display: block;
  }
}
.ant-upload.ant-upload-drag {
  background-color: white;
}
.ant-page-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.fade-enter .btn {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .btn {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .btn {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .btn,
.fade-exit-active .btn {
  transition: opacity 500ms, transform 500ms;
}
.ant-form-item-has-error .ant-form-item-explain,
.ant-form-item-has-error .ant-form-item-split {
  padding: 6px 0;
}

@import './utils.less';
@import './home/index.less';
@import './device/device-form.less';
@import './device/device-container.less';

.custom-dropdown {
  &.text-xs {
    .ant-cascader-picker-label,
    input {
      font-size: 0.75rem;
    }
  }

  &.text-sm {
    .ant-cascader-picker-label,
    input {
      font-size: 0.85rem;
    }
  }

  &.rounded-r-none {
    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  input {
    height: 47px;
  }
}

.ant-form-item-with-help.ant-form-item-has-error {
  button,
  #cke_editor1 {
    border-color: #ff4d4f;
  }
}
