@import '~antd/lib/style/themes/default.less';

@white: white;
@black: black;
@gray: #f5f5f5;
@light-gray: #f0f2f5;
@dark-gray: #0000008a;
@text-color: rgba(0, 0, 0, 0.65);
@borderColor: #d9d9d9;
@error-color: #f5222d;
@primary: #003766;
