.home-container {
  padding-top: 120px;
  background-color: transparent;

  .device-list {
    &_title {
      margin-bottom: 24px;

      h4 {
        color: @primary;
      }
    }

    &-card {
      &_item {
        cursor: pointer;
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
          0 1px 3px 1px rgba(60, 64, 67, 0.15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
          0 1px 3px 1px rgba(60, 64, 67, 0.15);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 208px;
        padding: 20px 20px 12px;
        transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 8px;
        background-color: @white;

        &:hover {
          background-color: @gray;
        }
      }
    }
  }
}

.device-card {
  &_item {
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 208px;
    padding: 20px 20px 12px;
    transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8px;
    background-color: @white;

    &:hover {
      background-color: @gray;
    }

    h4,
    span {
      color: @primary;
    }
  }

  &_avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    filter: brightness(0.85);
    opacity: 0.1;
  }
}
