.table {
  margin-top: 24px;
  .icon {
    margin-right: 8px;
    padding: 4px;
    border: 1px solid #dcdcdc;
  }
  .buyLeafButton {
    color: @primary-color;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
.deactivateForm {
  :global {
    .ant-form-item {
      margin-bottom: 6px;
    }
  }
}
